@font-face {
    font-family: 'MedievalSharp';
    src: url('MedievalSharp-regular.ttf');
}

#stackPane{
    -fx-background-color: #000000;
    -fx-background-image: url(menubackground.jpg);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#mainMenuPane{
    -fx-background-color: transparent;
    -fx-font-family: 'MedievalSharp';
    -fx-effect: dropshadow(gaussian, #000000, 20, 0.75, 1.0, 0.0);
    -fx-font-size:52;
}

#settingsPane{
    -fx-background-color: #2b2b2b;
    -fx-font-family: 'MedievalSharp';
    -fx-background-radius: 25.0;
    -fx-padding: 8;
}
.slider .thumb{
    -fx-background-color: #D4AF37;
}
.slider .track{
    -fx-background-color: #000000;
}


.button {
    -fx-text-fill: #D4AF37;
    -fx-border-style: none;
    -fx-background-color: transparent;
}
/*Settings icon by Icons8*/
#settingsButton {
    -fx-background-image: url('settingsIcon.png');
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

.label {
    -fx-text-fill: #D4AF37;
    -fx-font-family: 'MedievalSharp';
}
/*
* :disabled {
    -fx-opacity: 0.6;
}*/
